.jumbotron{
    text-align: center;
}
.header {
    margin: (3px, solid, black);
    padding: 10px;
    text-align: center;
}.col-sm {
    padding: 25px;
    border: 3px solid black;
    margin: 5px;

}